@charset "utf-8";
/* CSS Document */
* {padding:0;margin:0;}


div#wholepage {position:relative;top: 0;left: 0;width:100%;height: 100%;z-index: 1000;background-color:#EEE;}
a:link {text-decoration:none;color:black;cursor:pointer;}
ul li {list-style:none;}
div#top_nav {position:fixed;top:0;left:0;width:100%;font-size:20px;height:80px;background:white;z-index:1001;}
div#top_nav div#top_show {position:absolute;top:0;left:20%;width:1000px;padding-top:5px;height:80px;}
div#top_nav div#top_show  span {float:right;display:inline-block;line-height:80px;}
div#top_nav div#top_show span a {margin-left:10px;display:inline-block;line-height:40px;}
div#top_nav div#top_show span a.appDownload {background:#9CF;padding-left:20px;
                                padding-right:20px;color:#39F;}
div#top_nav div#top-show span a.skip {color:#ccc;}

div#info {position:relative;left:0;width:100%;height:500px;background:#0CF;margin-top:85px;}
div#info .content_info {position:relative;top:0;left:20%;width:1000px;height:460px;margin-top:40px;}
div#info img.ipsample {position:absolute;left:0;padding-top:20px;}
div#info .info-download {position:absolute;width:400px;left:600px;height:100%;}
div#info .info-download p {color:white;font-size:40px;font-weight:bold;position:relative;top:50px;}
div#info .info-download p span {font-size:20px;font-weight:400;}
div#info .info-download img.qr_top2 {position:relative;top:100px;padding:10px;background:white;}
div#info .info-download div.choose_sw {position:absolute;left:150px;top:280px;}
div#info .info-download  a.ios {display:block;position:absolute;left:70px;width:150px;height:60px;background:#FFF;top:-30px;}
div#info  a.ios img {padding-left:30px;}
div#info .info-download  ul.android {display:block;position:absolute;left:70px;width:150px;height:60px;background:#FFF;top:50px;}
div#info   ul.android li {height:100%;width:100%;margin:0;background:white;z-index:3000;}
div#info   ul.android li.hiddenli {display:none;}
div#info   ul.android li a{display:block;width:100%;height:100%;}
div#info .info-download  a:hover {background:#ccc;}
div#info   ul.android li a img {padding-left:30px;}
div#info .info-download ul:hover {background:#ccc;}
p#skip-content {position:relative;padding-left:20%;font-size:28px;top:20px;}
p#skip-content span {position:relative;left:800px;color:#CCC;}

div#content_pic {position:relative;left:20%;top:20px;margin-top:20px;width:1000px;height:auto !important;
height:4200px; /*假定最低高度是200px*/
min-height:4200px; }

ul#ct_pic1 {position:absolute;left:0;margin-top:5px;width:310px;top:0;}
ul#ct_pic1 li {width:100%;margin-top:10px;background:white;}
ul#ct_pic1 li img {padding:10px 15px;margin-bottom:10px;}
ul#ct_pic1 li p {padding-bottom:20px;margin-left:15px;font-size:18px;line-height:40px;}

ul#ct_pic2 {position:absolute;left:345px;width:310px;top:0px;}
ul#ct_pic2 li {width:100%;margin-top:10px;background:white;}
ul#ct_pic2 li img {padding:10px 15px;margin-bottom:10px;}
ul#ct_pic2 li p {padding-bottom:20px;margin-left:15px;font-size:18px;line-height:40px;}

ul#ct_pic3 {position:absolute;left:690px;width:310px;top:0px;}
ul#ct_pic3 li {width:100%;margin-top:10px;background:white;}
ul#ct_pic3 li img {padding:10px 15px;margin-bottom:10px;}
ul#ct_pic3 li p {padding-bottom:20px;margin-left:15px;font-size:18px;line-height:40px;}

a.show_more {display:block;position:relative;left:20%;background:#7FDFAA;height:50px;width:700px;font-size:26px;padding-left:300px;top:20px;padding-top:20px;}

div#tail {position:relative;height:200px;width:100%;top:20px;background:#E8E8E8;margin-top:20px;}
div#copyright {position:absolute;left:20%;width:1000px;height:100%;}
div#copyright p {position:absolute;left:0;width:700px;margin:20px;line-height:1.5;font-size:12px;letter-spacing:3px;}
div#copyright p span {display:block;font-family:Arial, Helvetica, sans-serif;font-size:10px;margin-top:20px;}
div#downclient {float:right;margin-top:20px;}
div#downclient span {display:block;}

